.slick-slider {
	text-align: center;
	height: 300px;
}

.box {
	background-color: #368470;
	height: 200px;
	margin: 50px 0;
}

.pastell-dark {
	background-color: #276555
}

.pastell-light {
	background-color: #44A88E
}

.pastell-lighter {
	background-color: #49BFA0;
}

.breadcrumb {
	margin-top: 1rem;
}
